
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Halant:400,600,800,1000');

body {
	background: #F2F2F0;
}

h1 {
	font-family: muli;
	font-weight: 900;
	font-size: 5.5em; 
	text-align: center;
	border-bottom: 2px solid black;
	padding: 0 1em 0.2em 1em;
}
h2 { 
	text-align: center;
	font-family: muli;
	font-size: 2.0em
 }

 h3 { 
	text-align: center;
	font-family: muli;
	font-size: 1.0em
 }

 p { 
 	font-family: halant 
 	font-size: 1.0em;}

img {
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 263px;
    height: 400px;
}

.imp {
	text-decoration: underline;
}

#para1 {
    text-align: center;
	font-family: halant;
 	font-size: 1.2em;
 }

#para2 {
    text-align: left;
	font-family: halant;
 	font-size: 1em;
 }

p { font-family: halant
	font-size: 1.2em;
	padding: 0 1em 0.2em 1em
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);}

div {
	background: #F4D9CE; 
	margin: 0.2em;
	padding: 01em 4em 4em 4em;
}

span {
	font: muli ;
	background: #BF6679;
}

a {
	color: #755350
}

#wrapper {
	background: #F4D9CE;
	width: 600px; 
	margin: 0 auto;
}

